body
{
justify-content: center;
justify-self: center;
align-items: center;
align-content: center;
display: flex;
margin-top: 70px;
position: relative;

}
.tecladoP
{
    width: 90%;
    height: 85vh;
    border-style: solid;
    border-color: rgb(0, 0, 0,);
    border-width: 7px;
    border-radius: 5px;
    background-color: black;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    
}
.linha1
{
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;   
    flex-direction: row;
    width: 100%;
    height: 10vh;
}
.linha2
{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;   
    flex-direction: row;
    
    width: 100%;
    height: 15vh;
}
.linha3
{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;   
    flex-direction: row;

    width: 100%;
    height: 15vh;
}
.linha4
{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;   
    flex-direction: row;
    width: 100%;
    height: 15vh;
    
}
.linha5
{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;   
    flex-direction: row;
    width: 100%;
    height: 15vh;

}
.linha6
{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;   
    flex-direction: row;
    width: 100%;
    height: 25vh;
    
}
.setas
{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;   
    flex-direction: row;
    width: 35%;
    height: 20vh;
    margin-top: -32px;
}
.setas1
{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;   
    flex-direction: column;
    width: 25%;
    height: 15vh;
}
.setas2
{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;   
    flex-direction: column;
    width: 25%;
    height: 15vh; 
}
.setas3
{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    display: flex;   
    flex-direction: column;
    width: 25%;
    height: 15vh;
    border-color: rgb(137, 127, 136);
}
.setinha
{
    width: 80px;
    height: 45px;
    border-style: solid;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 25px;
    background-color: rgba(255, 0, 187, 0.692);
    border-color: rgba(255, 255, 255, 0.692);
    color:white;
}
.setinha:hover
{
    background-color: white;
    border-color: rgba(255, 0, 187, 0.692);
    color:rgba(255, 0, 187, 0.692);
}
.setinha2:hover
{
    background-color: white;
    border-color: rgba(255, 0, 187, 0.692);
    color:rgba(255, 0, 187, 0.692);
}
.setinha2
{
    width: 80px;
    height: 45px;
    border-style: solid;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 25px;
    background-color: rgba(255, 0, 187, 0.692);
    border-color: rgba(255, 255, 255, 0.692);
    color:white;
}
.empurra
{
    width: 100%;
    height: 7.5vh;
}
.esc
{
    width: 95px;
    height: 55px;
    margin-left: 5px;
    font-family: "Audiowide", sans-serif;
    border-radius: 10px;
    border-color: rgba(209, 113, 179, 0.833);
    border-width: 3.5px;
    border-style: solid;
    cursor: pointer;
}
.esc:hover
{
    background-color:black;
    color: rgb(255, 0, 187);
    border-color: rgba(255, 0, 187, 0.692);
}
.NumLet1
{
    width: 92px;
    height: 70px;
    margin-left:4px;
    font-size: 15px;
    border-radius: 6px;
    border-color: rgba(85, 78, 83, 0.692);
    border-style: solid;
    border-color: rgba(189, 5, 140, 0.692);
    cursor: pointer;
}
.NumLet1:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.719),rgba(236, 40, 177, 0.5));
}
.NumLet2
{
    width: 76px;
    height: 60px;
    margin-left:2.5px;
    font-size: 15px;
    border-radius: 6px;
    border-style: solid;
    cursor: pointer;
}
.NumLet2:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.719),rgba(236, 40, 177, 0.5));
}
.NumLet3
{
    width: 85px;
    height: 70px;
    margin-left:2.5px;
    font-size: 15px;
    border-radius: 6px;
    border-color: rgba(189, 5, 140, 0.692);
    background-color: white;
    border-style: solid;
    cursor: pointer;
}
.NumLet3:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.719),rgba(236, 40, 177, 0.5));
}
.NumLet4
{
    width: 85px;
    height: 70px;
    margin-left:2.5px;
    font-size: 15px;
    border-radius: 6px;
    border-color: rgba(189, 5, 140, 0.692);
    background-color: white;
    border-style: solid;
}
.NumLet4:hover
{
    background-image:radial-gradient(rgba(255, 255, 255, 0.719),rgba(236, 40, 177, 0.5));
}
.back
{
    width: 140px;
    height: 65px;
    margin-left: 2px;
    font-size: 15px;
    border-radius: 10px;
    border-color: rgba(209, 113, 179, 0.833);
    border-width: 3.5px;
    border-style: solid;
}
.back:hover 
{
    background-color:black;
    color: rgb(255, 0, 187);
    border-color: rgba(255, 0, 187, 0.692);
}
.enter
{
    width: 115px;
    height: 60px;
    margin-left: 5px;
    border-radius: 15px;
    border-color: rgba(209, 113, 179, 0.833);
    border-width: 3.5px;
    border-style: solid;
}
.enter:hover 
{
    background-color:black;
    color: rgb(255, 0, 187);
    border-color: rgba(255, 0, 187, 0.692);
}
.shift
{
    width: 130px;
    height: 60px;
    margin-left: 2px;
    border-radius: 18px;
    border-color: rgba(209, 113, 179, 0.833);
    border-width: 3.5px;
    border-style: solid;
}
.shift:hover 
{
    background-color:black;
    color: rgb(255, 0, 187);
    border-color: rgba(255, 0, 187, 0.692);
}
.espaco
{
    width: 40%;
    height: 80px;
    margin-left: 5px;
    border-radius: 15px;
    border-color: rgba(209, 113, 179, 0.833);
    border-width: 3.5px;;
    border-style: solid;
    cursor: pointer;
}
.espaco:hover
{
    background-color: rgba(255, 0, 187, 0.692);
    border-color: rgba(255, 255, 255, 0.692);
}
.alt
{
    width: 70px;
    height: 80px;
    margin-left: 5px;
    border-radius: 15px;
    border-color: rgba(209, 113, 179, 0.833);
    border-width: 3.5px;
    border-style: solid;
    cursor: pointer;
}
.alt:hover 
{
    background-color:black;
    color: rgb(255, 0, 187);
    border-color: rgba(255, 0, 187, 0.692);
}

